<!-- Widget: Lineup Table -->
<aside class="widget card card--has-table widget--sidebar widget-lineup-table">
	<div class="widget__title card__header">
		<h4>Alchemists Lineup</h4>
	</div>
	<div class="widget__content card__content">

		<!-- Lineup Table -->
		<div class="table-responsive">
			<table class="table lineup-table">
				<thead>
					<tr>
						<th class="lineup__num">NBR</th>
						<th class="lineup__pos">POS</th>
						<th class="lineup__name">Player Name</th>
						<th class="lineup__info"></th>
					</tr>
				</thead>
				<tbody>

					{{#each soccer.sp.game.widget-lineup.starters}}

					{{#if staff}}
					<tr>
						<td class="lineup__num" colspan="2">{{pos}}</td>
						<td class="lineup__name">{{name}}</td>
						<td class="lineup__info"><i class="icon-svg {{info}}"></i></td>
					</tr>
					{{else}}
					<tr>
						<td class="lineup__num">{{num}}</td>
						<td class="lineup__pos">{{pos}}</td>
						<td class="lineup__name">{{name}}</td>
						<td class="lineup__info"><i class="icon-svg {{info}}"></i></td>
					</tr>
					{{/if}}

					{{/each}}

					<tr>
						<th colspan="4" class="lineup__subheader">Substitute Players</th>
					</tr>

					{{#each soccer.sp.game.widget-lineup.substitute}}
					<tr>
						<td class="lineup__num">{{num}}</td>
						<td class="lineup__pos">{{pos}}</td>
						<td class="lineup__name">{{name}}</td>
						<td class="lineup__info"><i class="icon-svg {{info}}"></i></td>
					</tr>
					{{/each}}

				</tbody>
			</table>
		</div>
		<!-- Lineup Table / End -->

	</div>
</aside>
<!-- Widget: Lineup Table / End -->
