<!-- Widget: Game Leaders -->
<aside class="widget widget--sidebar card card--has-table alc-widget-event-leaders">
	<div class="widget__title card__header card__header--has-btn">
		<h4>Game Leaders</h4>
		<a href="#" class="btn btn-default btn-outline btn-xs card-header__button">Full Box Score</a>
	</div>
	<div class="widget__content card__content">
		<div class="table-responsive">
			<table class="table alc-event-leader">

				{{#each basketball.sp.event.leaders}}
				<!-- Leader: Points -->
				<thead>
					<tr>
						<th class="alc-event-leader__type">{{title}}</th>
						{{#each cols}}
						<th class="alc-event-leader__stat" title="{{title}}">{{abbr}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each players}}
					<tr>
						<td class="alc-event-leader__player alc-event-leader__player--highlight {{#ifequal team 'team-2'}}alc-event-leader__player--highlight-info{{else}}alc-event-leader__player--highlight-primary{{/ifequal}}">
							<div class="alc-event-leader__player-info">
								<figure class="alc-event-leader__player-img">
									<img src="{{../root}}{{thumb}}" alt="{{name}}">
								</figure>
								<div class="alc-event-leader__player-inner">
									<h5 class="alc-event-leader__player-name">{{name}}</h5>
									<span class="alc-event-leader__player-position">{{position}}</span>
								</div>
							</div>
						</td>
						{{#each stats}}
						<td class="alc-event-leader__stat">{{value}}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
				<!-- Leader: Points / End -->
				{{/each}}

			</table>
		</div>
	</div>
</aside>
<!-- Widget: Team Leaders / End -->
