<!-- Widget: Event Scheduled -->
<div class="widget card card--no-paddings widget--sidebar widget-event-scheduled">
	<div class="widget__title card__header">
		<h4>Next Rivals</h4>
	</div>
	<div class="widget__content card__content">
		<ul class="alc-event-scheduled">

			{{#each basketball.sp.event.scheduled}}
			<!-- Game #{{@key}} -->
			<li class="alc-event-scheduled__item">
				<div class="alc-event-scheduled__header justify-content-center">
					<div class="alc-event-scheduled__title">{{date}}</div>
				</div>
				<div class="alc-event-scheduled__content">
					<div class="alc-event-scheduled__team">
						<figure class="alc-event-scheduled__img">
							<img src="{{team1.logo}}" alt="{{team1.name}}">
						</figure>
						<div class="alc-event-scheduled__details">
							<h4 class="alc-event-scheduled__team-name">{{team1.abbr}}</h4>
							<div class="alc-event-scheduled__team-info">{{team1.name}}</div>
						</div>
					</div>
					<div class="alc-event-scheduled__team">
						<figure class="alc-event-scheduled__img">
							<img src="{{team2.logo}}" alt="{{team2.name}}">
						</figure>
						<div class="alc-event-scheduled__details">
							<h4 class="alc-event-scheduled__team-name">{{team2.abbr}}</h4>
							<div class="alc-event-scheduled__team-info">{{team2.name}}</div>
						</div>
					</div>
					<div class="alc-event-scheduled__divider">vs</div>
				</div>
			</li>
			<!-- Game #{{@key}} / End -->
			{{/each}}

		</ul>
	</div>
</div>
<!-- Widget: Event Scheduled / End -->
