---
layout: soccer
page-title: Single Player
player-heading: true
---

{{> _soccer_player-filter}}

<!-- Content
================================================== -->
<div class="site-content">

	<!-- Album -->
	<div class="album-wrapper">
		<div class="album js-album-masonry">

			{{#each soccer.sp.player.gallery}}
			<div class="album__item {{col}}">
				<div class="album__item-holder">
					<a href="{{../root}}assets/images/{{img.full}}" class="album__item-link mp_gallery">
						<figure class="album__thumb">
							<img src="assets/images/{{img.thumb}}" alt="">
						</figure>
						<div class="album__item-desc album__item-desc--bottom-left">
							<span class="album__item-icon">
								<span class="icon-camera"></span>
							</span>
							<div class="album__item-desc-inner">
								<h4 class="album__item-title">{{title}}</h4>
								<time class="album__item-date" datetime="2016-08-23">{{date}}</time>
							</div>
						</div>
					</a>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
	<!-- Gallery Album / End -->

	<!-- @import "partials/player/player-album-load-more.kit" -->

</div>

<!-- Content / End -->
