---
layout: soccer
page-title: Event - Box Score
event-header: true
---

{{> _soccer_event-nav}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Alchemists - Stats & Lineup -->
		<div class="row">
			<div class="col-lg-8">

				{{#each soccer.sp.event.box-score}}
				<!-- Stats -->
				<div class="card card--has-table">
					<div class="card__header">
						<h4>{{team1.title}}</h4>
					</div>
					<div class="card__content">

						<div class="table-responsive">
							<table class="table table-hover alc-table-stats alc-table-stats--compact-sm">
								<thead>
									<tr>
										{{#each team1.thead}}
										<th class="alc-{{class}}">{{label}}</th>
										{{/each}}
									</tr>
								</thead>
								<tbody>

									<!-- Played -->
									{{#each team1.tbody.played}}
									<tr>
										<td class="alc-number alc-align-start">{{number}}</td>
										<td class="alc-position alc-align-start">{{position}}</td>
										<td class="alc-align-start">
											<div class="alc-player-info">
												<img src="{{player.img}}" class="alc-player-info__img" alt="{{player.name}}">
												<div class="alc-player-info__name">
													{{player.name}}
												</div>
											</div>
										</td>

										{{#each stats}}
										<td>{{value}}</td>
										{{/each}}

										<td>{{#if icon}}<i class="icon-svg {{icon}}"></i>{{/if}}</td>
									</tr>
									{{/each}}
									<!-- Played / End -->

									<!-- Staff -->
									{{#each team1.tbody.staff}}
									<tr>
										<td class="alc-align-start" colspan="2">{{position}}</td>
										<td class="alc-align-start">
											<div class="alc-player-info">
												<img src="{{person.img}}" class="alc-player-info__img" alt="{{person.name}}">
												<div class="alc-player-info__name">
													{{person.name}}
												</div>
											</div>
										</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td></td>
									</tr>
									{{/each}}
									<!-- Staff / End -->

									<tr>
										<th class="alc-subheader alc-highlight" colspan="12">Substitute Players</th>
									</tr>

									<!-- Substitute -->
									{{#each team1.tbody.substitute}}
									<tr>
										<td class="alc-number alc-align-start">{{number}}</td>
										<td class="alc-position alc-align-start">{{position}}</td>
										<td class="alc-align-start">
											<div class="alc-player-info">
												<img src="{{player.img}}" class="alc-player-info__img" alt="{{player.name}}">
												<div class="alc-player-info__name">
													{{player.name}}
												</div>
											</div>
										</td>

										{{#each stats}}
										<td>{{value}}</td>
										{{/each}}

										<td>{{#if icon}}<i class="icon-svg {{icon}}"></i>{{/if}}</td>
									</tr>
									{{/each}}
									<!-- Played / End -->

								</tbody>
							</table>
						</div>

					</div>
				</div>
				{{/each}}
				<!-- Stats / End -->

			</div>
			<div class="col-lg-4">

				<!-- Widget: Lineup -->
				<div class="widget card widget--sidebar widget-lineup">
					<div class="widget__title card__header">
						<h4>Alchemists Tactic</h4>
					</div>
					<div class="widget__content card__content">

						<div class="alc-formation">
							<ul class="alc-formation__field alc-formation__field--bg-2 alc-formation__field--lineup-1">
								{{#each soccer.sp.event.lineups.team1}}
								<li class="alc-formation__player">
									<div class="alc-formation__player-tshirt {{#if gp}}alc-formation__player-tshirt--clean{{/if}}">
										<div class="alc-formation__player-number">{{number}}</div>
									</div>
									<span class="alc-formation__player-name">{{name}}</span>
								</li>
								{{/each}}
							</ul>
						</div>

					</div>
				</div>
				<!-- Widget: Lineup / End -->

			</div>
		</div>
		<!-- Alchemists - Stats & Lineup / End -->

		<!-- Clovers - Stats & Lineup -->
		<div class="row">
			<div class="col-lg-8">

				{{#each soccer.sp.event.box-score}}
				<!-- Stats -->
				<div class="card card--alt-color card--has-table">
					<div class="card__header">
						<h4>{{team2.title}}</h4>
					</div>
					<div class="card__content">

						<table class="table table-hover alc-table-stats alc-table-stats--compact-sm">
							<thead>
								<tr>
									{{#each team2.thead}}
									<th class="alc-{{class}}">{{label}}</th>
									{{/each}}
								</tr>
							</thead>
							<tbody>

								<!-- Played -->
								{{#each team2.tbody.played}}
								<tr>
									<td class="alc-number alc-align-start">{{number}}</td>
									<td class="alc-position alc-align-start">{{position}}</td>
									<td class="alc-align-start">
										<div class="alc-player-info">
											<img src="{{player.img}}" class="alc-player-info__img" alt="{{player.name}}">
											<div class="alc-player-info__name">
												{{player.name}}
											</div>
										</div>
									</td>

									{{#each stats}}
									<td>{{value}}</td>
									{{/each}}

									<td>{{#if icon}}<i class="icon-svg {{icon}}"></i>{{/if}}</td>
								</tr>
								{{/each}}
								<!-- Played / End -->

								<!-- Staff -->
								{{#each team2.tbody.staff}}
								<tr>
									<td class="alc-align-start" colspan="2">{{position}}</td>
									<td class="alc-align-start">
										<div class="alc-player-info">
											<img src="{{person.img}}" class="alc-player-info__img" alt="{{person.name}}">
											<div class="alc-player-info__name">
												{{person.name}}
											</div>
										</div>
									</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td></td>
								</tr>
								{{/each}}
								<!-- Staff / End -->

								<tr>
									<th class="alc-subheader alc-highlight" colspan="12">Substitute Players</th>
								</tr>

								<!-- Substitute -->
								{{#each team2.tbody.substitute}}
								<tr>
									<td class="alc-number alc-align-start">{{number}}</td>
									<td class="alc-position alc-align-start">{{position}}</td>
									<td class="alc-align-start">
										<div class="alc-player-info">
											<img src="{{player.img}}" class="alc-player-info__img" alt="{{player.name}}">
											<div class="alc-player-info__name">
												{{player.name}}
											</div>
										</div>
									</td>

									{{#each stats}}
									<td>{{value}}</td>
									{{/each}}

									<td>{{#if icon}}<i class="icon-svg {{icon}}"></i>{{/if}}</td>
								</tr>
								{{/each}}
								<!-- Played / End -->

							</tbody>
						</table>

					</div>
				</div>
				{{/each}}
				<!-- Stats / End -->

			</div>
			<div class="col-lg-4">

				<!-- Widget: Lineup -->
				<div class="widget card widget--sidebar widget-lineup">
					<div class="widget__title card__header">
						<h4>Clovers Tactic</h4>
					</div>
					<div class="widget__content card__content">

						<div class="alc-formation">
							<ul class="alc-formation__field alc-formation__field--lineup-2">
								{{#each soccer.sp.event.lineups.team2}}
								<li class="alc-formation__player">
									<div class="alc-formation__player-tshirt alc-formation__player-tshirt--alt {{#if gp}}alc-formation__player-tshirt--clean{{/if}}">
										<div class="alc-formation__player-number">{{number}}</div>
									</div>
									<span class="alc-formation__player-name">{{name}}</span>
								</li>
								{{/each}}
							</ul>
						</div>

					</div>
				</div>
				<!-- Widget: Lineup / End -->

			</div>
		</div>
		<!-- Alchemists - Stats & Lineup / End -->
	</div>
</div>

<!-- Content / End -->
