---
layout: soccer
page-title: Single Player
player-heading: true
---

{{> _soccer_player-filter}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Last Game Log -->
		<div class="card card--has-table">
			<div class="card__header">
				<h4>Last Game Log</h4>
			</div>
			<div class="card__content">
				<div class="table-responsive">
					<table class="table table-hover game-player-result">
						<thead>
							<tr>
								<th class="game-player-result__date">Date</th>
								<th class="game-player-result__vs">Versus</th>
								<th class="game-player-result__score">Score</th>
								<th class="game-player-result__min">Min</th>
								<th class="game-player-result__tg">TG</th>
								<th class="game-player-result__ts">TS</th>
								<th class="game-player-result__st">ST</th>
								<th class="game-player-result__ga">GA</th>
								<th class="game-player-result__og">OG</th>
								<th class="game-player-result__pc">PC</th>
								<th class="game-player-result__pm">PM</th>
								<th class="game-player-result__fc">FC</th>
								<th class="game-player-result__fs">FS</th>
								<th class="game-player-result__yc">YC</th>
								<th class="game-player-result__rc">RC</th>
							</tr>
						</thead>
						<tbody>
							{{#each soccer.sp.player.log}}
							<tr>
								<td class="game-player-result__date">{{date}}</td>
								<td class="game-player-result__vs">
									<div class="team-meta">
										<figure class="team-meta__logo">
											<img src="{{../root}}assets/images/samples/logos/{{team.logo}}" alt="">
										</figure>
										<div class="team-meta__info">
											<h6 class="team-meta__name">{{team.name}}</h6>
											<span class="team-meta__place">{{team.place}}</span>
										</div>
									</div>
								</td>
								<td class="game-player-result__score"><span class="game-player-result__game">{{result.outcome}}</span> {{result.score}}</td>
								<td class="game-player-result__min">{{stats.min}}</td>
								<td class="game-player-result__tg">{{stats.tg}}</td>
								<td class="game-player-result__ts">{{stats.ts}}</td>
								<td class="game-player-result__st">{{stats.st}}</td>
								<td class="game-player-result__ga">{{stats.ga}}</td>
								<td class="game-player-result__og">{{stats.og}}</td>
								<td class="game-player-result__pc">{{stats.pc}}</td>
								<td class="game-player-result__pm">{{stats.pm}}</td>
								<td class="game-player-result__fc">{{stats.fc}}</td>
								<td class="game-player-result__fs">{{stats.fs}}</td>
								<td class="game-player-result__yc">{{stats.yc}}</td>
								<td class="game-player-result__rc">{{stats.rc}}</td>
							</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Last Game Log / End -->

		<!-- Player Season Average -->
		<div class="card card--has-table">
			<div class="card__header">
				<h4>Full Season Statistics</h4>
			</div>
			<div class="card__content">
				<div class="table-responsive">
					<table class="table table-hover player-season-avg">
						<thead>
							<tr>
								<th class="player-season-avg__season">Season</th>
								<th class="player-season-avg__gmp">GMP</th>
								<th class="player-season-avg__min">MIN</th>
								<th class="player-season-avg__tg">TG</th>
								<th class="player-season-avg__gg">GG</th>
								<th class="player-season-avg__ts">TS</th>
								<th class="player-season-avg__st">ST</th>
								<th class="player-season-avg__ga">GA</th>
								<th class="player-season-avg__ag">AG</th>
								<th class="player-season-avg__og">OG</th>
								<th class="player-season-avg__pc">PC</th>
								<th class="player-season-avg__pm">PM</th>
								<th class="player-season-avg__fc">FC</th>
								<th class="player-season-avg__fs">FS</th>
								<th class="player-season-avg__yc">YC</th>
								<th class="player-season-avg__rc">RC</th>
							</tr>
						</thead>
						<tbody>

							{{#each soccer.sp.player.total}}
							<tr>
								<td class="player-season-avg__season">{{season}}</td>
								<td class="player-season-avg__gmp">{{gmp}}</td>
								<td class="player-season-avg__min">{{min}}</td>
								<td class="player-season-avg__tg">{{tg}}</td>
								<td class="player-season-avg__gg">{{gg}}</td>
								<td class="player-season-avg__ts">{{ts}}</td>
								<td class="player-season-avg__st">{{st}}</td>
								<td class="player-season-avg__ga">{{ga}}</td>
								<td class="player-season-avg__ag">{{ag}}</td>
								<td class="player-season-avg__og">{{og}}</td>
								<td class="player-season-avg__pc">{{pc}}</td>
								<td class="player-season-avg__pm">{{pm}}</td>
								<td class="player-season-avg__fc">{{fc}}</td>
								<td class="player-season-avg__fs">{{fs}}</td>
								<td class="player-season-avg__yc">{{yc}}</td>
								<td class="player-season-avg__rc">{{rc}}</td>
							</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Player Season Average / End -->

		<!-- Player Glossary -->
		<div class="card">
			<div class="card__header">
				<h4>Glossary</h4>
			</div>
			<div class="card__content">
				<div class="glossary">
					<div class="glossary__item"><span class="glossary__abbr">MIN:</span> Minutes Played</div>
					<div class="glossary__item"><span class="glossary__abbr">TS:</span> Total Shots</div>
					<div class="glossary__item"><span class="glossary__abbr">OG:</span> Own Goals</div>
					<div class="glossary__item"><span class="glossary__abbr">FS:</span> Fouls Suffered</div>
					<div class="glossary__item"><span class="glossary__abbr">GMP:</span> Games Played</div>
					<div class="glossary__item"><span class="glossary__abbr">ST:</span> Shots on Target</div>
					<div class="glossary__item"><span class="glossary__abbr">PC:</span> Penalties Converted</div>
					<div class="glossary__item"><span class="glossary__abbr">YC:</span> Yellow Cards</div>
					<div class="glossary__item"><span class="glossary__abbr">TG:</span> Total Goals</div>
					<div class="glossary__item"><span class="glossary__abbr">GA:</span> Goal Assists</div>
					<div class="glossary__item"><span class="glossary__abbr">PM:</span> Penalties Missed</div>
					<div class="glossary__item"><span class="glossary__abbr">RC:</span> Red Cards</div>
					<div class="glossary__item"><span class="glossary__abbr">GG:</span> Goals per Game (Avg)</div>
					<div class="glossary__item"><span class="glossary__abbr">AG:</span> Assists per Game (Avg)</div>
					<div class="glossary__item"><span class="glossary__abbr">FC:</span> Fouls Commited</div>
				</div>
			</div>
		</div>
		<!-- Player Glossary / End -->

	</div>
</div>

<!-- Content / End -->
