---
layout: soccer
page-title: Event - Play-by-Play
event-header: true
---

{{> _soccer_event-nav}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		{{#each soccer.sp.event.commentary}}
		<!-- Match Commentary -->
		<div class="card card--has-table alc-match-commentary-wrapper">
			<div class="card__header card__header--double">
				<h4>{{teams.team1}}</h4>
				<h4>{{teams.team2}}</h4>
			</div>
			<div class="card__content">
				<!-- Match Commentary Content -->
				<table class="table alc-match-commentary">
					<thead>
						<tr>
							<th colspan="3">{{kickoff.label}} ({{kickoff.time}})</th>
						</tr>
					</thead>
					<tbody>

						{{#each firsthalf}}
						<tr>
							<td class="alc-commentary-cell alc-commentary-cell--team1">
								<div class="alc-commentary-cell__inner">
									{{#ifequal commentary.team "team1"}}
										<div class="alc-commentary-cell__text">
											{{{commentary.text}}}
										</div>
										<div class="alc-commentary-cell__icon">
											<i class="icon-svg {{commentary.icon}}"></i>
										</div>
									{{/ifequal}}
								</div>
							</td>
							<td class="alc-time-stamp">{{timestamp}}’</td>
							<td class="alc-commentary-cell alc-commentary-cell--team2">
								<div class="alc-commentary-cell__inner">
									{{#ifequal commentary.team "team2"}}
										<div class="alc-commentary-cell__text">
											{{{commentary.text}}}
										</div>
										<div class="alc-commentary-cell__icon">
											<i class="icon-svg {{commentary.icon}}"></i>
										</div>
									{{/ifequal}}
								</div>
							</td>
						</tr>
						{{/each}}

						<tr>
							<td class="alc-commentary-subheader" colspan="3">
								<div class="alc-commentary-subheader__icon">
									<i class="icon-svg {{subheader1.icon}}"></i>
								</div>
								<div class="alc-commentary-subheader__title">{{subheader1.title}}</div>
								<div class="alc-commentary-subheader__subtitle">
									{{{subheader1.subtitle}}}
								</div>
							</td>
						</tr>

						{{#each secondhalf}}
						<tr>
							<td class="alc-commentary-cell alc-commentary-cell--team1">
								<div class="alc-commentary-cell__inner">
									{{#ifequal commentary.team "team1"}}
										<div class="alc-commentary-cell__text">
											{{{commentary.text}}}
										</div>
										<div class="alc-commentary-cell__icon">
											<i class="icon-svg {{commentary.icon}}"></i>
										</div>
									{{/ifequal}}
								</div>
							</td>
							<td class="alc-time-stamp">{{timestamp}}’</td>
							<td class="alc-commentary-cell alc-commentary-cell--team2">
								<div class="alc-commentary-cell__inner">
									{{#ifequal commentary.team "team2"}}
										<div class="alc-commentary-cell__text">
											{{{commentary.text}}}
										</div>
										<div class="alc-commentary-cell__icon">
											<i class="icon-svg {{commentary.icon}}"></i>
										</div>
									{{/ifequal}}
								</div>
							</td>
						</tr>
						{{/each}}

						<tr>
							<td class="alc-commentary-subheader" colspan="3">
								<div class="alc-commentary-subheader__title">{{subheader2.title}}</div>
								<div class="alc-commentary-subheader__subtitle">
									{{{subheader2.subtitle}}}
								</div>
							</td>
						</tr>

						<tr>
							<td class="alc-commentary-subheader" colspan="3">
								<div class="alc-commentary-subheader__icon">
									<i class="icon-svg {{subheader3.icon}}"></i>
								</div>
								<div class="alc-commentary-subheader__title">{{subheader3.title}}</div>
								<div class="alc-commentary-subheader__subtitle">
									{{{subheader3.subtitle}}}
								</div>
							</td>
						</tr>

					</tbody>
				</table>
				<!-- Match Commentary Content / End -->
			</div>
		</div>
		<!-- Match Commentary / End -->
		{{/each}}

	</div>
</div>

<!-- Content / End -->
