---
page-title: Event Overview
event-header: true
---

{{> _event-nav}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">

			<!-- Content -->
			<div class="content col-lg-8">

				<!-- Video Highlights -->
				<div class="card card--no-paddings">
					<header class="card__header">
						<h4>Video Highlights</h4>
					</header>
					<div class="card__content">
						{{> widget-event-video id="XE0fU9PCrWE" provider="youtube" thumbnail="assets/images/samples/post-img6-xlg.jpg" title="Check The Alchemists in action in this exclusive clip from last night" date="January 27th, 2020"}}
					</div>
				</div>
				<!-- Video Highlights / End -->

				<!-- Match Team Stats -->
				<div class="alc-event-stats-box card card--no-paddings">

					<!-- Header -->
					<header class="widget__title card__header alc-teams-legend">
						<h4 class="alc-teams-legend__title">Match Team Stats</h4>
						<div class="alc-teams-legend__info">
							<!-- Teams -->
							<div class="alc-teams-legend__teams">

								{{#each basketball.sp.event.stats.meta}}
								<!-- Team #{{@key}} -->
								<div class="alc-teams-legend__team">
									<span class="alc-teams-legend__team-color alc-teams-legend__team-color--color-{{color}}"></span>
									<img src="{{logo}}" class="alc-teams-legend__team-logo" alt="{{name}}">
								</div>
								<!-- Team #{{@key}} / End -->
								{{/each}}

							</div>
							<!-- Teams / End -->

							<a href="event-team-stats.html" class="btn btn-default btn-outline btn-xs">Full Team Stats</a>
						</div>
					</header>
					<!-- Header / End -->

					<!-- Team & Result -->
					<div class="alc-event-stats-box__content card__content">

						<!-- Event Statistics -->
						<div class="alc-event-stats-box__section">
							<header class="alc-event-stats-box__subheader card__subheader card__subheader--sm card__subheader--clean card__subheader--nomargins">
								<h5 class="alc-event-stats-box__subtitle">Main Statistics</h5>
							</header>
							<div class="alc-event-stats-box__section-inner alc-event-stats-box__section-inner--lg">

								<!-- Progress Stats Table -->
								<table class="progress-table progress-table--sm-space progress-table--fullwidth">
									<tbody>

										{{#each basketball.sp.event.stats.main}}
										<tr>
											<td class="progress-table__progress-label {{#if team1.highlight}}progress-table__progress-label--highlight{{/if}}">{{team1.value}}</td>
											<td class="progress-table__progress-bar progress-table__progress-bar--first">
												<div class="progress">
													<div class="progress__bar" style="width: {{team1.pct}}%;" role="progressbar" aria-valuenow="{{team1.value}}" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</td>
											<td class="progress-table__title text-uppercase">{{label}}</td>
											<td class="progress-table__progress-bar progress-table__progress-bar--second">
												<div class="progress">
													<div class="progress__bar progress__bar--info" style="width: {{team2.pct}}%;" role="progressbar" aria-valuenow="{{team2.value}}" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</td>
											<td class="progress-table__progress-label {{#if team2.highlight}}progress-table__progress-label--highlight{{/if}}">{{team2.value}}</td>
										</tr>
										{{/each}}

									</tbody>
								</table>
								<!-- Progress Stats Table / End -->

							</div>
						</div>
						<!-- Event Statistics / End -->

						<!-- Event Additional Stats -->
						<div class="alc-event-stats-box__section">
							<header class="alc-event-stats-box__subheader card__subheader card__subheader--sm card__subheader--clean card__subheader--nomargins">
								<h5 class="alc-event-stats-box__subtitle">Efficiency percentages</h5>
							</header>
							<div class="alc-event-stats-box__section-inner alc-event-stats-box__section-inner--lg">

								<div class="row">
									<div class="col-12 col-md-6">
										<div class="row">

											{{#each basketball.sp.event.stats.percentages.team1}}
											<div class="col-4">
												<div class="circular">
													<div class="circular__bar" data-percent="{{value}}">
														<span class="circular__percents">{{value}}<small>%</small></span>
													</div>
													<span class="circular__label circular__label--paddings">{{label}}</span>
												</div>
											</div>
											{{/each}}

										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="row">

											{{#each basketball.sp.event.stats.percentages.team2}}
											<div class="col-4 {{class}}">
												<div class="circular">
													<div class="circular__bar" data-percent="{{value}}" data-bar-color="#0cb2e2">
														<span class="circular__percents">{{value}}<small>%</small></span>
													</div>
													<span class="circular__label circular__label--paddings">{{label}}</span>
												</div>
											</div>
											{{/each}}

										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- Event Additional Stats / End -->

					</div>
					<!-- Team & Result / End -->

				</div>
				<!-- Match team Stats / End -->

				<div class="row">
					<div class="col-md-6">
						<!-- Event Results -->
						{{> widget-event-results}}
						<!-- Event Results / End -->
					</div>
					<div class="col-md-6">
						<!-- Event Post -->
						<div class="posts__item posts__item--card posts__item--category-1 card">
							<figure class="posts__thumb">
								<div class="posts__cat">
									<span class="label posts__cat-label">The Team</span>
								</div>
								<a href="#"><img src="{{../root}}assets/images/samples/post-img25.jpg" alt=""></a>
							</figure>
							<div class="posts__inner card__content">
								<a href="#" class="posts__cta"></a>
								<time datetime="2016-08-23" class="posts__date">April 26th, 2020</time>
								<h6 class="posts__title"><a href="#">The Alchemists crushed Sharks 107-102 in last night's game</a></h6>
								<div class="posts__excerpt">
									Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis nostrud en derum sum laborem.
								</div>
							</div>
							<footer class="posts__footer card__footer">
								<div class="post-author">
									<figure class="post-author__avatar">
										<img src="{{../root}}assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
									</figure>
									<div class="post-author__info">
										<h4 class="post-author__name">James Spiegel</h4>
									</div>
								</div>
								<ul class="post__meta meta">
									<li class="meta__item meta__item--views">2369</li>
									<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
									<li class="meta__item meta__item--comments"><a href="#">18</a></li>
								</ul>
							</footer>
						</div>
						<!-- Event Post / End -->
					</div>
				</div>

				<!-- Comments -->
				{{> post-comments}}

			</div>
			<!-- Content / End -->

			<!-- Sidebar -->
			<div class="sidebar col-lg-4">

				{{> widget-event-info}}

				{{> widget-event-leaders}}

				{{> widget-standings}}

				{{> widget-event-scheduled}}

			</div>
			<!-- Sidebar / End -->
		</div>
	</div>
</div>

<!-- Content / End -->
