---
page-title: Event - Videos
event-header: true
---

{{> _event-nav}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">

				<!-- Video Highlights -->
				<div class="card card--no-paddings">
					<div class="card__content">
						{{> widget-event-video id="XE0fU9PCrWE" provider="youtube" thumbnail="assets/images/samples/post-img6-full.jpg" title="Check The Alchemists in action in this exclusive clip from last night" date="January 27th, 2020" class="alc-embeded-player--center alc-embeded-player--center-lg"}}
					</div>
				</div>
				<!-- Video Highlights / End -->

				<!-- Video Slideshow -->
				<div class="posts posts--carousel row">

					{{#each basketball.sp.event.videos.secondary}}
					<div class="posts__item posts__item--{{category.class}} col-sm-4 mb-3">
						<a href="{{video}}" class="posts__link-wrapper mp_iframe">
							<figure class="posts__thumb">
								<img src="{{../root}}{{thumb}}" alt="{{title}}">
							</figure>
							<div class="posts__inner">
								<div class="posts__cat">
									<span class="label posts__cat-label">{{category.name}}</span>
								</div>
								<h3 class="posts__title">{{title}}</h3>
								<time datetime="2017-08-28" class="posts__date">{{date}}</time>
							</div>
						</a>
					</div>
					{{/each}}

				</div>
				<!-- Video Slideshow / End -->

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
