<!-- Related Products -->
<div class="card card--clean">
	<header class="card__header">
		<h4>Related Products</h4>
	</header>
	<div class="card__content">

		<!-- Products -->
		<ul class="products products--grid products--grid-condensed products--grid-light products--grid-4">

			{{#each soccer.products.related}}
			<!-- Product #{{@key}} -->
			<li class="product__item card">

				<div class="product__img">
					<div class="product__img-holder">
						<a href="_soccer_shop-product.html"><img src="{{../root}}assets/images/soccer/samples/{{img}}" alt=""></a>
					</div>
				</div>

				<div class="product__content card__content">

					<header class="product__header">
						<div class="product__header-inner">
							<span class="product__category">{{category}}</span>
							<div class="product__ratings">
								{{#repeat rating.full}}
								<i class="fas fa-star"></i>
								{{/repeat}}
								{{#repeat rating.empty}}
								<i class="fas fa-star empty"></i>
								{{/repeat}}
							</div>
							<h2 class="product__title"><a href="_soccer_shop-product.html">{{title}}</a></h2>
							<div class="product__price">{{price}}</div>
						</div>
					</header>
				</div>
			</li>
			<!-- Product #{{@key}} / End -->
			{{/each}}

		</ul>
		<!-- Products / End -->

	</div>
</div>
<!-- Related Products / End -->
