<!-- Page Heading
================================================== -->
<div class="page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="page-heading__title">{{{page-heading}}}</h1>
				<ol class="page-heading__breadcrumb breadcrumb">
					<li class="breadcrumb-item"><a href="{{../root}}_soccer_index.html">Home</a></li>
					{{#each breadcrumbs}}
					{{#if @last}}
					<li class="breadcrumb-item active" aria-current="page">{{label}}</li>
					{{else}}
					<li class="breadcrumb-item"><a href="{{link}}">{{label}}</a></li>
					{{/if}}
					{{/each}}
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Page Heading / End -->
