<!-- Pushy Panel - Dark -->
<aside class="pushy-panel {{#if dark}}pushy-panel--dark{{/if}}">
	<div class="pushy-panel__inner">
		<header class="pushy-panel__header">
			<div class="pushy-panel__logo">
				<a href="_soccer_index.html"><img src="{{../root}}assets/images/soccer/logo.png" srcset="{{../root}}assets/images/soccer/logo@2x.png 2x" alt="Alchemists"></a>
			</div>
		</header>
		<div class="pushy-panel__content">

			<!-- Widget: Posts -->
			<aside class="widget widget-popular-posts widget--side-panel">
				<div class="widget__content">

					<ul class="posts posts--simple-list">

						{{#each soccer.posts.pushy-panel-posts}}
						<li class="posts__item posts__item--{{category.class}}">
							<figure class="posts__thumb">
								<a href="#"><img src="{{../root}}assets/images/samples/{{thumb}}" alt=""></a>
							</figure>
							<div class="posts__inner">
								<div class="posts__cat">
									<span class="label posts__cat-label">{{category.name}}</span>
								</div>
								<h6 class="posts__title"><a href="#">{{title}}</a></h6>
								<time datetime="2016-08-23" class="posts__date">{{date}}</time>
							</div>
							<div class="posts__excerpt">
								{{excerpt}}
							</div>
						</li>
						{{/each}}

					</ul>

				</div>
			</aside>
			<!-- Widget: Posts / End -->

			<!-- Widget: Tag Cloud -->
			<aside class="widget widget--side-panel widget-tagcloud">
				<div class="widget__title">
					<h4>Popular Tags</h4>
				</div>
				<div class="widget__content">
					<div class="tagcloud">
						{{#each soccer.posts.tagcloud}}
						<a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">{{label}}</a>
						{{/each}}
					</div>
				</div>
			</aside>
			<!-- Widget: Tag Cloud / End -->

			<!-- Widget: Banner -->
			<aside class="widget widget--side-panel widget-banner">
				<div class="widget__content">
					<figure class="widget-banner__img">
						<a href="#"><img src="{{../root}}assets/images/samples/banner.jpg" alt="Banner"></a>
					</figure>
				</div>
			</aside>
			<!-- Widget: Banner / End -->

		</div>
		<a href="#" class="pushy-panel__back-btn"></a>
	</div>
</aside>
<!-- Pushy Panel - Dark / End -->
