<!-- Footer
================================================== -->
<footer id="footer" class="footer">

	<!-- Footer Widgets -->
	<div class="footer-widgets">
		<div class="footer-widgets__inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<div class="footer-col-inner">

							<!-- Footer Logo -->
							<div class="footer-logo footer-logo--has-txt">
								<a href="index.html">
									<img src="{{../root}}assets/images/soccer/logo-footer.png" srcset="{{../root}}assets/images/soccer/logo-footer@2x.png 2x" alt="{{global.site-name}}" class="footer-logo__img">
									<div class="footer-logo__heading">
										<h5 class="footer-logo__txt">{{global.site-name}}</h5>
										<span class="footer-logo__tagline">{{global.site-tagline}}</span>
									</div>
								</a>
							</div>
							<!-- Footer Logo / End -->

							<!-- Widget: Contact Info -->
							<div class="widget widget--footer widget-contact-info">
								<div class="widget__content">
									<div class="widget-contact-info__desc">
										<p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt uten labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									</div>
									<div class="widget-contact-info__body info-block">
										<div class="info-block__item">
											<svg role="img" class="df-icon df-icon--soccer-ball">
												<use xlink:href="{{../root}}assets/images/icons-soccer.svg#soccer-ball"/>
											</svg>
											<h6 class="info-block__heading">Contact Us</h6>
											<a class="info-block__link" href="mailto:{{soccer.contact-info.email-1}}">{{soccer.contact-info.email-1}}</a>
										</div>
										<div class="info-block__item">
											<svg role="img" class="df-icon df-icon--whistle">
												<use xlink:href="{{../root}}assets/images/icons-soccer.svg#whistle"/>
											</svg>
											<h6 class="info-block__heading">Join Our Team!</h6>
											<a class="info-block__link" href="mailto:{{soccer.contact-info.email-2}}">{{soccer.contact-info.email-2}}</a>
										</div>
										<div class="info-block__item info-block__item--nopadding">
											<ul class="social-links">
												{{#each soccer.contact-info.social}}
												<li class="social-links__item">
													<a href="{{link}}" class="social-links__link"><i class="{{icon}}"></i> {{name}}</a>
												</li>
												{{/each}}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Widget: Contact Info / End -->
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-col-inner">
							<!-- Widget: Popular Posts / End -->
							<div class="widget widget--footer widget-popular-posts">
								<h4 class="widget__title">Popular News</h4>
								<div class="widget__content">
									<ul class="posts posts--simple-list">

										{{#each soccer.posts.widget-popular-footer}}
										<li class="posts__item posts__item--{{category.class}}">
											<figure class="posts__thumb posts__thumb--hover">
												<a href="#"><img src="{{../root}}assets/images/samples/{{thumb}}" alt=""></a>
											</figure>
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label">{{category.name}}</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_soccer_blog-post-1.html">{{title}}</a></h6>
												<time datetime="2017-08-21" class="posts__date">{{date}}</time>
											</div>
										</li>
										{{/each}}

									</ul>
								</div>
							</div>
							<!-- Widget: Popular Posts / End -->
						</div>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-col-inner">
							<!-- Widget: Featured News / End -->
							<div class="widget widget--footer widget-featured-posts">
								<h4 class="widget__title">Featured News</h4>
								<div class="widget__content">
									<ul class="posts posts--simple-list">

										{{#each soccer.posts.widget-featured-footer}}
										<li class="posts__item posts__item--{{category.class}}">
											<figure class="posts__thumb posts__thumb--hover">
												<a href="#"><img src="{{../root}}assets/images/samples/{{thumb}}" alt=""></a>
											</figure>
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label">{{category.name}}</span>
												</div>
												<h6 class="posts__title posts__title--color-hover"><a href="_soccer_blog-post-1.html">{{title}}</a></h6>
												<time datetime="2017-08-21" class="posts__date">{{date}}</time>
											</div>
										</li>
										{{/each}}

									</ul>
								</div>
							</div>
							<!-- Widget: Featured News / End -->
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-col-inner">

							{{> footer-widget-contact}}

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Sponsors -->
		<div class="container">
			<div class="sponsors">
				<h6 class="sponsors-title">Our Sponsors:</h6>
				<ul class="sponsors-logos">
					{{#each soccer.sponsors}}
					<li class="sponsors__item">
						<a href="{{link}}" target="_blank"><img src="{{../root}}assets/images/soccer/{{logo}}" alt=""></a>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<!-- Sponsors / End -->

	</div>
	<!-- Footer Widgets / End -->

	<!-- Footer Secondary -->
	<div class="footer-secondary">
		<div class="container">
			<div class="footer-secondary__inner">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-copyright">{{{soccer.copyright}}}</div>
					</div>
					<div class="col-md-8">
						<ul class="footer-nav footer-nav--right footer-nav--condensed footer-nav--sm">
							{{#each soccer.nav-footer}}
							<li class="footer-nav__item"><a href="{{link}}">{{label}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Secondary / End -->
</footer>
<!-- Footer / End -->


{{> _soccer_modal-login-tabs}}
