<!-- Hero Slider
================================================== -->
<div class="hero-slider-wrapper">

	<div class="hero-slider">

		{{#each soccer.posts.hero-slider}}
		<!-- Slide #{{@key}} -->
		<div class="hero-slider__item hero-slider__item--{{thumb}}">

			<div class="container hero-slider__item-container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<!-- Post Meta - Top -->
						<div class="post__meta-block post__meta-block--top">

							<!-- Post Category -->
							<div class="post__category">
								<span class="label posts__cat-label">{{category.name}}</span>
							</div>
							<!-- Post Category / End -->

							<!-- Post Title -->
							<h1 class="page-heading__title"><a href="_soccer_blog-post-1.html">{{{title.onslide}}}</a></h1>
							<!-- Post Title / End -->

							<!-- Post Meta Info -->
							<ul class="post__meta meta">
								<li class="meta__item meta__item--date"><time datetime="2017-08-23">{{date}}</time></li>
								<li class="meta__item meta__item--views">{{meta.views}}</li>
								<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like meta-like--active icon-heart"></i> {{meta.likes}}</a></li>
								<li class="meta__item meta__item--comments"><a href="#">{{meta.comments}}</a></li>
							</ul>
							<!-- Post Meta Info / End -->

							<!-- Post Author -->
							<div class="post-author">
								<figure class="post-author__avatar">
									<img src="{{../root}}assets/images/samples/{{author.avatar}}" alt="Post Author Avatar">
								</figure>
								<div class="post-author__info">
									<h4 class="post-author__name">{{author.name}}</h4>
									<span class="post-author__slogan">{{author.slogan}}</span>
								</div>
							</div>
							<!-- Post Author / End -->

						</div>
						<!-- Post Meta - Top / End -->
					</div>
				</div>
			</div>

		</div>
		<!-- Slide #{{@key}} / End -->
		{{/each}}

	</div>

	<div class="hero-slider-thumbs-wrapper">
		<div class="container">
			<div class="hero-slider-thumbs posts posts--simple-list">

				{{#each soccer.posts.hero-slider}}
				<div class="hero-slider-thumbs__item">
					<div class="posts__item posts__item--{{category.class}}">
						<div class="posts__inner">
							<div class="posts__cat">
								<span class="label posts__cat-label">{{category.name}}</span>
							</div>
							<h6 class="posts__title">{{title.onthumb}}</h6>
							<time datetime="2017-12-12" class="posts__date">{{date}}</time>
						</div>
					</div>
				</div>
				{{/each}}

			</div>
		</div>
	</div>


</div>
